/* structure of logo */
.logo{
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgb(116, 116, 116);
  position: static;
  cursor: pointer;
}

/* Sidebar structure */
.side-bar{
  height: 0%;
  width: 0px;
  top: 10px;
  left: 15px;
  background-color: #2E5077;
  overflow-x: hidden;
  transition: 0.3s;
}

/* Styling the side bar */
.side-bar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.2s;
}

/* Effect while hovering */
.side-bar a:hover {
    background-color: #575757;
}

/* Close the sidebar */
.close-button {
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

/*  Sidebar Button */
.open-button {
    font-size: 20px;
    cursor: pointer;
    background-color: #2E5077;
    color: white;
    padding: 10px 15px;
    border: none;
}

.search-bar{
  width: 300px;
  top:110px;
}

/* filter menu structure */
.filter-menu{
  height: 50px;
  width: 50px;
  top: 10px;
  left: 15px;
  background-color: #2E5077;
  overflow-x: hidden;
  transition: 0.3s;
}

/*The colors are for differentiating between each div*/
.card-container{
  background-color: #2E5077;
  height: 250px;
  width: 225px;
}
.card-outer{
  height: 175px;
  background-color: aliceblue;
}

.card-inner{
  background-color: aqua; 
}

header{
  display:inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.add-activity{
  color: white;
  max-width: 450px;
  flex-direction: column;
  display: flex;
  background-color: #2E5077;
  justify-content: flex-end;  
}

.btn-color{
  background-color: #79D7BE;
  outline-color: black;
}